DevFriend_API/.vs/DevFriend_API/v16/Server/sqlite3/storage.ide
DevFriend_API/.vs/DevFriend_API/v16/.suo
DevFriend_API/.vs/DevFriend_API/v16/Server/sqlite3/storage.ide-wal
DevFriend_API/.vs/DevFriend_API/v16/.suo
DevFriend_API/.vs/DevFriend_API/DesignTimeBuild/.dtbcache
DevFriend_API/.vs/DevFriend_API/v16/Server/sqlite3/storage.ide
DevFriend_API/.vs/DevFriend_API/v16/Server/sqlite3/storage.ide-shm
DevFriend_API/.vs/DevFriend_API/v16/Server/sqlite3/storage.ide-wal
