<!-- <form #postquestionform="ngForm" class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="textarea" name="Query" placeholder="Enter your Query" [(ngModel)]="question.Query" required>
  <button [disabled]="!loginform.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
  <button class="btn btn-success my-2 my-sm-0 ml-2" type="button" [routerLink]="['/register']">SignUp</button>

</form> -->
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-10">
      <div class="card border-primary mb-3">
          <div class="card-header">Post Question</div>
          <div class="card-body">
              <div class="row">
                  <div class="col-12">
                      <div class="p-2">
                          <form #postquestionform="ngForm" class="form-horizontal" role="form" (ngSubmit)="PostQuestion()">
                                <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="simpleinput">Question Header</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control mr-sm-2" name="Heading" placeholder="Enter your Query"  [(ngModel)]="question.Heading" required></textarea>
                                        </div>
                                    </div>
                              <div class="form-group row">
                                  <label class="col-sm-2 col-form-label" for="simpleinput">Description</label>
                                  <div class="col-sm-10">
                                      <textarea class="form-control mr-sm-2" name="Description" placeholder="Enter your Query" [(ngModel)]="question.Description" required></textarea>
                                  </div>
                              </div>

                              <div class="form-group row">
                                  <label class="col-sm-2 col-form-label">Tags</label>
                                  <div class="col-sm-10">
                                      <!-- <select class="form-control" name="postQuestionTag" [(ngModel)]="postQuestionTag">
                                          <option *ngFor="let item of tags" [value]="item.id">{{item.name}}</option>
                                      </select> -->
                                      <ng-multiselect-dropdown name="Tags" [(ngModel)]="question.Tags"
                                                    [placeholder]="'Select Tag'"
                                                    [data]="tags"
                                                    [settings]="dropdownSettings">
                                        </ng-multiselect-dropdown>
                                  </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-lg-10"></div>
                                  <div class="col-lg-2 text-right">
                                        <button class="btn btn-success my-2 my-sm-0 mr-1" type="submit">Post</button>     
                                        <button class="btn btn-danger my-2 my-sm-0">Cancel</button>                                    
                                  </div>
                                </div>
                          </form>
                      </div>
                  </div>

              </div>
          </div>
        </div>

  </div><!-- end col -->
  <div class="col-lg-1"></div>
</div>


<!-- <button type="button" (click)="PostQuestion()" ></button>
<h1>{{question.Tags}}</h1> -->