<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-12">
          <div class="card-box">
              <div class="media">
                <div class="row">
                  <div class="col-lg-2">
                    <div class="row">
                      <div class="col-lg-12">
                          <img
                          src="../../../assets/minton/images/users/avatar-2.jpg"
                          class="mr-3"
                          width="50"
                          height="50"
                        />
                      </div>
                      <div class="col-lg-12"><app-post-answer [QuestionId]="questionDetail.id"></app-post-answer></div>
                    </div>
                  </div>
                   <div class="col-lg-10">
                      <div class="media-body">
                          <h5 class="m-0">{{ questionDetail.heading }}</h5>
                          <i class="fa fa-check-circle" *ngIf="questionDetail.resolved">Resolved</i>
                          <div class="ml-2">
                            <div class="row">
                              <span class="badge badge-dark mr-1"
                                *ngFor="let tagItem of questionDetail.tags">{{ tagItem.name }}</span>
                            </div>
                            <div class="row">
                              <pre class="questionDes">{{ questionDetail.description }}</pre>
                            </div>
                            
                          </div>
                        </div>
                   </div>
                  <!-- <button class="btn btn-primary">ans</!-->
                  
                </div>
              </div>
              <div class="row">
                  <h5 class="m-0">Solutions</h5>
                  <div class="row">
                    <div class="col-lg-12">
                      <app-answer-list [QuestionId]="questionDetail.id"></app-answer-list>
                    </div>
                  </div>
              </div>
            </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>

<!-- <div class="jumbotron">
    <h3 class="display-5"></h3>
    <p class="lead">
        <span class="badge badge-dark mr-1" *ngFor="let tagItem of questionDetail.tags">{{tagItem.name}}</span>
    </p>
    <hr class="my-4">
    <p>{{questionDetail.description}}</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div> -->
