<nav class="navbar navbar-expand-md navbar-dark nav-color">
  <div class="container nav-container">
      <a class="navbar-brand" [routerLink]="['/']"><span class="brand-text">Dev-Friend</span></a>
      <ul class="navbar-nav"  *ngIf="loggedIn()">
        <li class="nav-item mr-3" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/home']"><i class="fa fa-home mr-1"></i>Home</a>
        </li>
        <li class="nav-item mr-3" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/jobs']" ><i class="fa fa-briefcase mr-1"></i>Jobs</a>
        </li>
        <li class="nav-item mr-3" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/study']"><i class="fa fa-graduation-cap mr-1"></i>Study</a>
        </li>
      </ul>
      
      <div class="dropdown" *ngIf="loggedIn()" dropdown>
        <span>
          <img src="{{photoUrl}}" alt="" class="rounded-circle nav-pro-pic"> 
        </span>
        <a class="btn btn-secondary dropdown-toggle text-light ml-2" dropdownToggle>
          Welcome {{authService.decodedToken?.unique_name |titlecase}}
        </a>
        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/user/edit']" ><i class="fa fa-user"></i> Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </div>
      <form #loginform="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()" *ngIf="!loggedIn()">
        <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" [(ngModel)]="model.username" required>
        <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" [(ngModel)]="model.password" required>
        <button [disabled]="!loginform.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
        <button class="btn btn-success my-2 my-sm-0 ml-2" type="button" [routerLink]="['/register']">SignUp</button>

      </form>
  </div>
</nav>