.nav-container{
    max-width: 100%;
}
.dropdown-toggle,.dropdown-item{
    cursor: pointer;
}
img{
    max-height: 50px;
    border: 2px solid white;
}
.nav-color{
    background-color: #06213e;
}
.nav-pro-pic {
    border: 0px solid #edf0f0;
    height: 36px;
    width: 36px;
  }
/* .brand-text{
    font-weight: bold;
    font-family: cursive;
    font-size: x-large;
} */