.author{
    /* background-image: url(""); */
    /* background-image: url("https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400"); */
    background-repeat: no-repeat;
    background-size: auto;

}
.main-content{
    margin: 50px
}
.profilepic{
    padding-top: 50px;
}
.username{
    color: white;
}
.user-content-card{
    padding: 10px;
}