 <!-- <h1 *ngFor="let item of answerForList">{{item.id}}</h1> -->
 <div class="row" *ngFor="let item of answerForList">
    <img src="../../../assets/minton/images/users/avatar-10.jpg" class="mr-3"  width="50" height="50">
    <div class="media-body">
      <h6 class="mt-0">{{item.username}}</h6>
      <div class="ml-2">
          
            <div class="row">
              <div class="listDescriptionFont">
                  {{(item.solution)}}              
              </div>
            </div>
      </div>
    </div>
  </div>